@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.radix-themes {
  --default-font-family: var(--font-inter) !important;
}

.CodeMirror,
.CodeMirror-scroll {
  max-height: 250px;
  min-height: 250px;
}
